.sun-component {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sun-container {
  height: 280px;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 20px;
}

.sun-glow {
  width: 135px;
  height: 135px;
  border-radius:50%;	
  background:rgba(255,255,255,.5);
  box-shadow: 0px 0px 150px 100px white;  
  position: absolute;
}

.name {
  font-size: 4.5em;
  font-weight: bold;
  line-height: 1.5;
  color: #174196;
}

.title {
  font-size: 2em;
  font-style: italic;
  color: #174196;
}