button {
  width: 225px;
  height: 150px;
  margin: 0 10px;
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 1.25em;
  font-family: "roboto slab", helvetica, sans-serif;
}

button:hover {
  width: 245px;
  margin: 0;
  font-size: 1.6em;
}

.button-text {
  width: 225px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-decoration: none;
  color: #737dde;
}

.button-text:visited {
  color: #737dde;
}